
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="{{ url_for('static', filename='jquery/1.11.1/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='libs/jqueryui/jquery.ui-1.9.0.min.js') }}"></script>		
	<!-- 引入 Bootstrap -->
	<!--
		<link href="/u/phyan/workspace/python/qor_analyzer/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">	
		-->
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/Chart_v1.js') }}"></script>
		<style type="text/css" src="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"></style>
		<meta name="description" content="">
	    <meta name="author" content="">

	    <title>QoR Analyzer Web ^_^</title>

	    <!-- Bootstrap core CSS -->
	    <link href="{{ url_for('static', filename='bootstrap/3.3.5/css/bootstrap.min.css') }}" rel="stylesheet">
	    <!-- Bootstrap theme -->
	    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
	    <!-- Custom styles for this template -->
	    <link href="{{ url_for('static', filename='bootstrap/css/theme.css') }}" rel="stylesheet">
	</head>

	<!--<body role="document" style="background-color: #efefef; position: relative;" data-spy="scroll" data-target=".nav-target">-->
	<body role="document" style="background: url('{{ url_for('static', filename='bootstrap/images/qor_analyzer.jpg') }}'); background-size:100% 100%;">
		<style>
		.navbar .nav>li>a{padding: 15px 10px 15px 10px}
		.metrics-nav>li {font-size:14px; padding: 0px 10px 0px 10px; color:white;}
		.metrics-nav>li>a {font-size:13px; padding: 4px 8px; color:white;border-left: 2px solid rgb(239, 239, 239);}
		.metrics-nav>li>a:hover {color:#563d7c;border-left: 2px solid #563d7c;text-decoration: none;}
		.checkbox-nav>li {font-size:13px; padding: 0px 10px 0px 10px; color:white;}
		.active_nav {display: block}
		.inactive_nav {display: none}
		input{behavior:url(#default#savehistory);} 
		select{behavior:url(#default#savehistory);}  
		</style>
		<script>
			$('body').scrollspy({ target: '.nav-target' });
			$(function() {
				var color_list = {{color_list|safe}};
				var qorArray = Array();
				//var steps_list = {{steps_dict|safe}};	
				window.prev_d = {{point_dict['prev_d']|safe}};
				window.prev_p = {{point_dict['prev_p']|safe}};
				window.crnt_d = {{point_dict['crnt_d']|safe}};
				window.crnt_p = {{point_dict['crnt_p']|safe}};
				pattern_list = {{qor_metrics_dict.keys()|safe}};
				//console.log(pattern_list)
				//activate pattern
				window.active_pattern = "{{active_pattern|safe}}";
				var active_num = jQuery.inArray(window.active_pattern, pattern_list);
				if (window.active_pattern == "None") {
					window.active_pattern = pattern_list[0];
					active_num = 0;
				}
				//console.log(active_num);
				var step_qor_dict = {{step_qor_dict|safe}};
				var step_qor_list = step_qor_dict[window.active_pattern];
				var steps_dict = {{steps_dict|safe}};
				var steps_list = steps_dict[window.active_pattern];
				var metrics_order_dict = {{metrics_order_dict|safe}};
				var metrics_order = metrics_order_dict[active_pattern];
				var selected_pattern = window.active_pattern;
				//console.log(step_qor_list);
				$("#nav-tabs li").eq(active_num).tab("show");
				$(".pattern_nav").addClass('inactive_nav');
				$(".pattern_nav").removeClass('active_nav');
				$("."+selected_pattern+"_nav").removeClass('inactive_nav');
				$("."+selected_pattern+"_nav").addClass('active_nav');
				$(".tab-pane").removeClass("active");
				$(".tab-pane").addClass("inactive");
				$("#"+selected_pattern).addClass("active");
				$("#"+selected_pattern).removeClass("inactive");
				console.log(window.prev_d, window.prev_p, window.crnt_d, window.crnt_p);
				
				if (window.crnt_p != -1) {
					var qorArray = Array();
					var datasetIndex = window.crnt_d;
					var pointIndex = window.crnt_p;

					qorArray = step_qor_list[datasetIndex][pointIndex]; //2:wns, 3:tns, etc	
					console.log(step_qor_list);
					console.log(qorArray);
					step_name = steps_list[datasetIndex][pointIndex]
					if (step_name.length > 10) {
			    		step_name = step_name.substr(0,10)
			    	}

					$("#"+window.active_pattern+"_"+"crnt_label").text(step_name);
					$("#"+window.active_pattern+"_"+"crnt_label").css("color", color_list[datasetIndex]);
					$.each(metrics_order, function(i,metrics) {
						var crnt = $("#"+window.active_pattern+"_"+metrics+">.crnt");
						crnt.text(qorArray[i]);
					});
				}

				if (window.prev_p != -1) {
					var qorArray = Array();
					var datasetIndex = window.prev_d;
					var pointIndex = window.prev_p;

					qorArray = step_qor_list[datasetIndex][pointIndex]; //2:wns, 3:tns, etc	
					step_name = steps_list[datasetIndex][pointIndex]
					if (step_name.length > 10) {
			    		step_name = step_name.substr(0,10)
			    	}

					$("#"+window.active_pattern+"_"+"prev_label").text(step_name);
					$("#"+window.active_pattern+"_"+"prev_label").css("color", color_list[datasetIndex]);
					$.each(metrics_order, function(i,metrics) {
						//console.log("Item #" + i + ": " + metrics);
			    		var crnt = $("#"+window.active_pattern+"_"+metrics+">.crnt");
		    			var prev = $("#"+window.active_pattern+"_"+metrics+">.prev");
		    			var pct = $("#"+window.active_pattern+"_"+metrics+">.pct");

		    			prev.text(qorArray[i]);
		    			var pct_value = (parseFloat(crnt.text()) / parseFloat(prev.text())) * 100 - 100
		    			if (pct_value > 10000) {
		    				pct_value = parseInt(pct_value).toExponential(2)
		    				pct.text(pct_value)
		    			} else {
		    				pct.text(pct_value.toFixed(2));
		    			}
		    			//console.log("crnt:"+crnt.text()+" prev:"+prev.text());
		    			
				    	if (parseFloat(crnt.text()) > parseFloat(prev.text())) {
				    		crnt.css("color", "red");
				    		pct.css("color", "red");							    		
				    	} else if (parseFloat(crnt.text()) < parseFloat(prev.text())) {
				    		crnt.css("color", "green");
				    		pct.css("color", "green");
				    	} else {
				    		crnt.css("color", "black");
				    		pct.css("color", "black");
				    	}
					});
				}			
			});

			function activeModal() {
				var url = "{{url|safe}}"+"&active_pattern="+window.active_pattern+"&prev_d="+window.prev_d+"&prev_p="+window.prev_p+"&crnt_d="+window.crnt_d+"&crnt_p="+window.crnt_p; 
				$("#url-link").val(url);				
				$("#myModal").modal();
				$("#url-link").select();
				$("#url-link").focus();
				//console.log(window.prev_d, window.prev_p, window.crnt_d, window.crnt_p);
			}
			
			function activePatternNav(tmp) {
				window.prev_d = -1;
				window.prev_p = -1;
				window.crnt_d = -1;
				window.crnt_p = -1;
				var selected_pattern = $(tmp).attr('class').split(" ")[0];
				window.active_pattern = selected_pattern;
				//console.log(selected_pattern);
				$(".pattern_nav").addClass('inactive_nav');
				$(".pattern_nav").removeClass('active_nav');
				$("."+selected_pattern+"_nav").removeClass('inactive_nav');
				$("."+selected_pattern+"_nav").addClass('active_nav');
			}
		</script>


	    <nav class="navbar navbar-inverse navbar-fixed-top">

		<div class="container" style="margin-left:160px;">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#" style="color:#fff;">QoR Analyzer Web</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	          	<li><a href="{{ url_for('index') }}">Home</a></li>
	            <li class="active"><a href="#">DashBoard</a></li>
	            <!--<li><a href="{{ url_for('qor_analysis_tricks') }}">Analysis</a></li>-->
				<li><a href="#">About</a></li>
			  </ul>
	        </div><!--/.nav-collapse -->
	  	</div>
	    </nav>  

		<div class="container bs-docs-container" role="main" style="width:1400px;margin-left:15px;">
			<!-- Main jumbotron for a primary marketing message or call to action -->

			<div class="row" style="width:1700px;">

				{% for pattern in qor_metrics_dict %}
				<div class="col-md-1 nav-target pattern_nav inactive_nav {{pattern}}_nav" role="complementary">
					<!-- metrics nav -->
					<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="top:180px;width:8%;display:block">

					<ul class="nav bs-docs-sidenav metrics-nav">
						<li><strong>Inner-link</strong></li>
						{% for metrics in metrics_order_dict[pattern] %}
						    	<li><a href="#{{metrics|lower}}">{{metrics}}</a></li>
					    {% endfor %}
					    <li><a class="back-to-top" href="#top"><strong> Back To Top</strong></a></li>

					</ul>
					</br>
					<!-- metrics toggle -->
					<ul class="nav bs-docs-sidenav checkbox-nav">
						<li style="font-size:14px;"><strong>Check-box</strong></li>
						{% for metrics in metrics_order_dict[pattern] %}
				    	<li><input type="checkbox" name="{{metrics}}" checked onchange="$('.{{metrics|lower}}').toggle()">&nbsp;&nbsp;{{metrics}}</input></li>
					    {% endfor %}
					</ul>
				</div> 
				{% endfor %}
				<!-- col-9 -->
				<div class="col-md-9" role="main">
					<!--
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    	<strong>QoR Analyzer: data loaded successfully!! (Will adapt "0" qor value to "0.00001" to avoid logarithmic exception)</strong>
				  	</div>
					<div class="alert alert-info alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<strong>New Features are ready now:</strong></br>
						2017/04/17 - Multi-pattern support
					</div>
					-->
				  	<h4 style="margin-bottom:18px;">
				  	<span class="label label-primary">Mode: {{mode}}</span>
				  	{% if compress==0 %}
				  		<span class="label label-primary">Compress: no</span>
				  	{% else %}
				  		<span class="label label-primary">Compress: yes</span>
				  	{% endif %}
				  	</h4>
				  	{% set color_index = 0 %}
				  	{% for log in log_list%}
				  	<h4 style="margin-bottom:18px;">
				  	<span class="label label-info" style="background-color: {{color_list[color_index]|safe}}">{{log}}</span>
				  	</h4>
				  	{% set color_index = color_index + 1 %}
				  	{% endfor %}
				  	{% if script_list %}
				  	{% set pattern_index = 1 %}
				  	<h4 style="margin-bottom:18px;">
				  	<span class="label label-primary">Non-default pattern:</span>
				  	</h4>
				  	{% for script in script_list%}
				  	<h4 style="margin-bottom:18px;">
				  	<span class="label label-primary">USER{{pattern_index}}: </span>
				  	<span class="label label-primary" style="margin-left: 5px;">{{script}}</span>
				  	</h4>
				  	{% set pattern_index = pattern_index + 1 %}
				  	{% endfor %}
				  	{% endif %}
				  	<h4 style="margin-bottom:18px;">
					<!-- Modal -->
					<div style="top:252px;" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="myModalLabel">Share this link to others</h4>
					      </div>
					      <div class="modal-body">
							    <input id="url-link" type="text" value="" style="width:100%;display:block;margin-bottom:10px;font-size:14px;padding:8px;"></input>
							    <span style="font-size:12px;">Just press "Ctrl + C"</span>
					      </div>
					    </div>
					  </div>
					</div>
					</h4>

				  	<div>

					<!-- Nav tabs -->
					<ul id="nav-tabs" class="nav nav-pills" role="tablist" style="margin-bottom: 10px;">

					{% for pattern in qor_metrics_dict %}
						<li role="presentation" class="inactive"><a href="#{{pattern}}" class="{{pattern}}" aria-controls="{{pattern}}" role="tab" data-toggle="tab" style="color:white;" onclick="activePatternNav(this);"><strong>{{pattern}}</strong></a></li>
					{% endfor %}
					</ul>
    				<!-- Tab panes -->
 
			   <div class="tab-content">
			  	{% for pattern in qor_metrics_dict %}
			  		<div role="tabpanel" class="tab-pane" id="{{pattern}}">
				  	{% if step_match_dict[pattern] %}
					<div class="alert alert-info" role="alert">
				    	<strong>QoR Metrics (steps match, show qor-metrics in same charts)</strong>
				  	</div>
				  	{% set index = 0 %}
				  	{% for metrics in metrics_order_dict[pattern] %}
				  	{% set log_index = 0 %}
				  	
					<div class="row">
					 
						<div class="col-md-12 {{metrics|lower}}" id="{{metrics|lower}}">
						<div class="panel" style="border-color: #39ADB4;">
						  <!-- Default panel contents -->
						  <div class="panel-heading" style="background-color: #39ADB4; color: white; font-weight: bold">{{metrics}}</div>
						  <canvas class="qor_chart" id="myChart_{{pattern}}_{{metrics}}_{{index}}" width="350" height="100"></canvas>

						  </div>
						  </div>

					
					</div>
					<script type="text/javascript">
				//cmd stats
					
					{% set color_index = 0 %}
					var ctx = $("#myChart_{{pattern}}_{{metrics}}_{{index}}").get(0).getContext("2d");
				  	
					// This will get the first returned node in the jQuery collection.
				  	var data_{{pattern}}_{{metrics}}_{{index}} = {
					    labels: {{steps_dict[pattern][0]|safe}},
					    datasets: [
					    {% for qor_metrics in qor_metrics_dict[pattern] %}
					        {
					            label: "{{log_name_list[log_index]}}", 
					            fill: false,
					            lineTension: 0.4,
					            backgroundColor: "{{color_list[color_index]|safe}}",
					            borderColor: "{{color_list[color_index]}}",
					            borderCapStyle: 'butt',
					            borderDash: [],
					            borderDashOffset: 0.0,
					            borderJoinStyle: 'miter',
					            pointBorderColor: "{{color_list[color_index]}}",
					            pointBackgroundColor: "{{color_list[color_index]}}",
					            pointBorderWidth: 1,
					            pointHoverRadius: 3,
					            pointHoverBackgroundColor: "#fff",
					            pointHoverBorderColor: "{{color_list[color_index]}}",
					            pointHoverBorderWidth: 2,
					            pointRadius: 3,
					            pointHitRadius: 1,
					            data: {{qor_metrics[metrics]|safe}},
					            spanGaps: false,
					        },
					    {% set log_index = log_index + 1 %}
					    {% set color_index = color_index + 1 %}
					    {% endfor %} 
				   	 	]
					};

					var myLineChart_{{pattern}}_{{metrics}}_{{index}} = new Chart(ctx, {
				    	type: 'line',
				   		data: data_{{pattern}}_{{metrics}}_{{index}},
					    options: {
					        scales: {
					            xAxes: [{
					                ticks: {
					                    autoSkip: {{auto_skip_dict[pattern][0]|safe}},
					                    display: true,
					                }
					            }],
					            yAxes: [{
					            	type: '{{metrics_property_dict[pattern][metrics][1]}}',
					            }],
					        }
					    }
					});

				    $("#myChart_{{pattern}}_{{metrics}}_{{index}}").click(function (evt) {
				        //alert(evt.originalEvent);
				    	var activePoints = myLineChart_{{pattern}}_{{metrics}}_{{index}}.getElementAtEvent(evt.originalEvent);
				    	var pointIndex = activePoints[0]._index;
				    	var datasetIndex = activePoints[0]._datasetIndex;
				    	//console.log(datasetIndex, pointIndex);
				    	//console.log(activePoints);
				    	var step_qor_list = {{step_qor_dict[pattern]|safe}};
				    	var color_list = {{color_list|safe}};
				    	var metrics_order = {{metrics_order_dict[pattern]|safe}};

				    	var qorArray = Array();
				    	var steps_list = {{steps_dict[pattern]|safe}};
				    	var pattern = "{{pattern}}";
				    	qorArray = step_qor_list[datasetIndex][pointIndex]; //2:wns, 3:tns, etc
				    	var step_name = steps_list[datasetIndex][pointIndex]	
						if (step_name.length > 10) {
				    		step_name = step_name.substr(0,10)
				    	}		    		    	
				    	//console.log(qorArray);
				    	
				    	if ($("#"+pattern+"_crnt_label").text() == "crnt") {
				    		if (step_name == 0) {
				    			$("#"+pattern+"_crnt_label").text(pointIndex);	
				    		} else {
				    			$("#"+pattern+"_crnt_label").text(step_name);	
				    		}
				    		$("#"+pattern+"_crnt_label").css("color", color_list[datasetIndex]);	
				    		window.crnt_d = datasetIndex;
				    		window.crnt_p = pointIndex;			    		
				    	} else {
				    		$("#"+pattern+"_prev_label").text($("#"+pattern+"_crnt_label").text());
				    		$("#"+pattern+"_prev_label").css("color",$("#"+pattern+"_crnt_label").css("color"));
				    		if (step_name == 0) {
				    			$("#"+pattern+"_crnt_label").text(pointIndex);	
				    		} else {
				    			$("#"+pattern+"_crnt_label").text(step_name);	
				    		}
				    		//console.log(datasetIndex);
				    		$("#"+pattern+"_crnt_label").css("color", color_list[datasetIndex]);
				    		window.prev_d = window.crnt_d;
				    		window.prev_p = window.crnt_p;
				    		window.crnt_d = datasetIndex;
				    		window.crnt_p = pointIndex;
				    	}

				    	$.each(metrics_order, function(i,metrics) {
				    		//console.log("Item #" + i + ": " + metrics);
				    		var crnt = $("#"+pattern+"_"+metrics+">.crnt");
			    			var prev = $("#"+pattern+"_"+metrics+">.prev");
			    			var pct = $("#"+pattern+"_"+metrics+">.pct");

				    		if (crnt.text() == "") {
				    			crnt.text(qorArray[i]);
				    		} else {
				    			prev.text(crnt.text());
				    			crnt.text(qorArray[i]);
				    			var pct_value = (parseFloat(crnt.text()) / parseFloat(prev.text())) * 100 - 100
				    			if (pct_value > 10000) {
				    				pct_value = parseInt(pct_value).toExponential(2)
				    				pct.text(pct_value)
				    			} else {
				    				pct.text(pct_value.toFixed(2));
				    			}
				    			//console.log("crnt:"+crnt.text()+" prev:"+prev.text());
				    			
						    	if (parseFloat(crnt.text()) > parseFloat(prev.text())) {
						    		crnt.css("color", "red");
						    		pct.css("color", "red");							    		
						    	} else if (parseFloat(crnt.text()) < parseFloat(prev.text())) {
						    		crnt.css("color", "green");
						    		pct.css("color", "green");
						    	} else {
						    		crnt.css("color", "black");
						    		pct.css("color", "black");
						    	}
				    		};
				    	});
			    	});  

					</script>
					{% set index = index + 1 %}
					{% endfor %}

					{% else %}
					<div class="alert alert-warning" role="alert">
				    	<strong>QoR Metrics (steps mismatch, show qor-metrics in different charts)</strong>
				  	</div>
					{% set index = 0 %}
					{% set log_index = 0 %}
				  	{% for metrics in metrics_order_dict[pattern] %}
				  	{% set color_index = 0 %}
				  	{% for qor_metrics in qor_metrics_dict[pattern] %}
					<div class="row">
					 
						<div class="col-md-12 {{metrics|lower}}">
						<div class="panel" style="border-color: #39ADB4;">
						  <!-- Default panel contents -->
						  <div class="panel-heading" id="{{metrics|lower}}" style="background-color: #39ADB4; color: white; font-weight: bold">{{metrics}}</div>
						  <canvas id="myChart_{{pattern}}_{{metrics}}_{{index}}" class="{{index}} " width="350" height="100"></canvas>

						  </div>
						  </div>

					
					</div>
					<script type="text/javascript">
				//cmd stats			
					
					var ctx = $("#myChart_{{pattern}}_{{metrics}}_{{index}}").get(0).getContext("2d");
					// This will get the first returned node in the jQuery collection.
				  	var data_{{pattern}}_{{metrics}}_{{index}} = {
					    labels: {{steps_dict[pattern][log_index]|safe}},
					    datasets: [			    
					        {
					            label: "{{log_name_list[log_index]}}", 
					            fill: false,
					            lineTension: 0.4,
					            backgroundColor: "{{color_list[color_index]}}",
					            borderColor: "{{color_list[color_index]}}",
					            borderCapStyle: 'butt',
					            borderDash: [],
					            borderDashOffset: 0.0,
					            borderJoinStyle: 'miter',
					            pointBorderColor: "{{color_list[color_index]}}",
					            pointBackgroundColor: "{{color_list[color_index]}}",
					            pointBorderWidth: 1,
					            pointHoverRadius: 3,
					            pointHoverBackgroundColor: "#fff",
					            pointHoverBorderColor: "{{color_list[color_index]}}",
					            pointHoverBorderWidth: 2,
					            pointRadius: 3,
					            pointHitRadius: 1,
					            data: {{qor_metrics[metrics]|safe}},
					            spanGaps: false,
					        },
					    {% set color_index = color_index + 1 %}
				   	 	]
					};

					var myLineChart_{{pattern}}_{{metrics}}_{{index}} = new Chart(ctx, {
				    	type: 'line',
				   		data: data_{{pattern}}_{{metrics}}_{{index}},
					    options: {
					        scales: {
					            xAxes: [{
					                ticks: {
					                    autoSkip: {{auto_skip_dict[pattern][log_index]|safe}},
					                    display: true,
					                }
					            }],
					            yAxes: [{
					            	type: '{{metrics_property_dict[pattern][metrics][1]}}',
					            }],
					        }
					    }
					});

					$("#myChart_{{pattern}}_{{metrics}}_{{index}}").click(function (evt) {
				        console.log(evt.originalEvent);
				    	var activePoints = myLineChart_{{pattern}}_{{metrics}}_{{index}}.getElementAtEvent(evt.originalEvent);
				    	console.log(activePoints);
				    	var pointIndex = activePoints[0]._index;
				    	var datasetIndex = parseInt($("#myChart_{{pattern}}_{{metrics}}_{{index}}").attr("class"));
				    	//console.log(datasetIndex, pointIndex);
				    	var step_qor_list = {{step_qor_dict[pattern]|safe}};
				    	//console.log(step_qor_list);
				    	var color_list = {{color_list|safe}};
				    	var metrics_order = {{metrics_order_dict[pattern]|safe}};
				    	
				    	var qorArray = Array();
				    	var steps_list = {{steps_dict[pattern]|safe}};
				    	var pattern = "{{pattern}}"
				    	var log_index = {{log_index}}
				    	qorArray = step_qor_list[datasetIndex][pointIndex]; //2:wns, 3:tns, etc
				    	var step_name = steps_list[datasetIndex][pointIndex]		
						if (step_name.length > 10) {
				    		step_name = step_name.substr(0,10)
				    	}	    		    	

				    	if ($("#"+pattern+"_crnt_label").text() == "crnt") {
				    		if (step_name == 0) {
				    			$("#"+pattern+"_crnt_label").text(pointIndex);	
				    		} else {
				    			$("#"+pattern+"_crnt_label").text(step_name);	
				    		}
				    		$("#"+pattern+"_crnt_label").css("color", color_list[datasetIndex]);
				    		window.crnt_d = datasetIndex;
				    		window.crnt_p = pointIndex;
				    	} else {
				    		$("#"+pattern+"_prev_label").text($("#"+pattern+"_crnt_label").text());
				    		$("#"+pattern+"_prev_label").css("color",$("#"+pattern+"_crnt_label").css("color"));
				    		if (step_name == 0) {
				    			$("#"+pattern+"_crnt_label").text(pointIndex);	
				    		} else {
				    			$("#"+pattern+"_crnt_label").text(step_name);	
				    		}
				    		$("#"+pattern+"_crnt_label").css("color", color_list[datasetIndex]);	
				    		window.prev_d = window.crnt_d;
				    		window.prev_p = window.crnt_p;
				    		window.crnt_d = datasetIndex;
				    		window.crnt_p = pointIndex;		    		
				    	}
				    	
				    	$.each(metrics_order, function(i,metrics) {
				    		//console.log("Item #" + i + ": " + metrics);
				    		var crnt = $("#"+pattern+"_"+metrics+">.crnt");
			    			var prev = $("#"+pattern+"_"+metrics+">.prev");
			    			var pct = $("#"+pattern+"_"+metrics+">.pct");
				    		if (crnt.text() == "") {
				    			crnt.text(qorArray[i]);
				    		} else {
				    			prev.text(crnt.text());
				    			crnt.text(qorArray[i]);
				    			var pct_value = (parseFloat(crnt.text()) / parseFloat(prev.text())) * 100 - 100
				    			if (pct_value > 10000) {
				    				pct_value = parseInt(pct_value).toExponential(2)
				    				pct.text(pct_value)
				    			} else {
				    				pct.text(pct_value.toFixed(2));
				    			}
				    			//console.log("crnt:"+crnt.text()+" prev:"+prev.text());
				    			
						    	if (parseFloat(crnt.text()) > parseFloat(prev.text())) {
						    		crnt.css("color", "red");
						    		pct.css("color", "red");							    		
						    	} else if (parseFloat(crnt.text()) < parseFloat(prev.text())) {
						    		crnt.css("color", "green");
						    		pct.css("color", "green");
						    	} else {
						    		crnt.css("color", "black");
						    		pct.css("color", "black");
						    	}
				    		};
				    	});

						//console.log(activePoints);
			    	});  
				     
					</script>
					{% set log_index = log_index + 1 %}
					{% set index = index + 1 %}
					{% endfor %}
					{% endfor %}

					{% endif %}
					</div>
					{% endfor %} <!--pattern loop-->
					</div>
					</div>
				</div>
				<!-- col-9 -->
				
				<div class="col-md-2" role="complementary" style="padding-left: 0px;">
					<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="top:252px;width:400px;">
					  	<h4 style="margin-bottom:18px;">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-success btn-xs" onclick="activeModal();">
						  <span class="glyphicon glyphicon-share"></span><strong>Share</strong>
						</button>
						</h4>
					<ul class="nav bs-docs-sidenav">
					{% for pattern in qor_metrics_dict %}
					<div class="panel panel-danger pattern_nav inactive_nav {{pattern}}_nav">				
					  <!-- Default panel contents -->
						<div class="panel-heading"><strong>QoR Compare</strong></div>
						  <!-- Table -->
						  <table class="table table-striped" style="font-size:12px;">
						    <thead>
						    	<th>#</th>
						    	<th id="{{pattern}}_prev_label">prev</th>
						    	<th id="{{pattern}}_crnt_label">crnt</th>
						    	<th id="{{pattern}}_crnt_label">pct.(%)</th>
						    </thead>
						    <tbody style="font-size:12px;">
						    {% for metrics in metrics_order_dict[pattern] %}
						    	<tr id="{{pattern}}_{{metrics | lower}}"><td><strong>{{metrics}}</strong></td><td class="prev"></td><td class="crnt"></td><td class="pct"></td></tr>
						    {% endfor %}
						    </tbody>
						  </table>
					</div>
					{% endfor %}
					</ul>
					</nav>
				
				</div> 
				
				<!-- col-3 -->
			</div>                   
		</div>

		<nav class="navbar navbar-inverse navbar-fixed-bottom" style="position:relative">
		    <div class="navbar-inner navbar-content-center" style="text-align:center;">
		        <p class="text-muted credit" style="margin:5px 0 0 0;color:white">Chrome/Firefox browsers with 1600x1200+ are suggested</p>
		        <p class="text-muted credit" style="margin:0px;color:white">Contact <a href="mailto:phyan@synopsys.com">Leo Yan</a> if needed</p>
		    </div>
		</nav>

	</body>
</html>
