
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="/u/phyan/workspace/python/qor_analyzer/jquery/1.11.1/jquery.min.js"></script>
		<script src="/u/phyan/workspace/python/qor_analyzer/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>		
	<!-- 引入 Bootstrap -->
	<!--
		<link href="/u/phyan/workspace/python/qor_analyzer/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">	
		-->
		<script type="text/javascript" src="/u/phyan/workspace/python/qor_analyzer/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/u/phyan/workspace/python/qor_analyzer/bootstrap/js/Chart_v1.js"></script>
		<style type="text/css" src="/u/phyan/workspace/python/qor_analyzer/bootstrap/css/bootstrap.css"></style>
		<meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <title>QoR Analyzer ^_^</title>

	    <!-- Bootstrap core CSS -->
	    <link href="/u/phyan/workspace/python/qor_analyzer/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	    <!-- Bootstrap theme -->
	    <link href="/u/phyan/workspace/python/qor_analyzer/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	    <!-- Custom styles for this template -->
	    <link href="/u/phyan/workspace/python/qor_analyzer/bootstrap/css/theme.css" rel="stylesheet">

		<title> QoR!! </title>
	</head>

	<body role="document" style="background-color: #efefef; position: relative;" data-spy="scroll" data-target=".nav-target">
		<style>
		.navbar .nav>li>a{padding: 15px 10px 15px 10px}
		.metrics-nav>li {font-size:14px; padding: 0px 10px 0px 10px; color:grey;}
		.metrics-nav>li>a {font-size:13px; padding: 4px 8px; color:grey;border-left: 2px solid rgb(239, 239, 239);}
		.metrics-nav>li>a:hover {color:#563d7c;border-left: 2px solid #563d7c;text-decoration: none;}
		.checkbox-nav>li {font-size:13px; padding: 0px 10px 0px 10px; color:grey;}

		</style>

	    <nav class="navbar navbar-inverse navbar-fixed-top">

		<div class="container" style="margin-left:160px;">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#" style="color:#fff;">QoR Analyzer</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#">DashBoard</a></li>
				<li><a href="#">About</a></li>
			  </ul>

	        </div><!--/.nav-collapse -->
	  	</div>
	    </nav>  

		<div class="container bs-docs-container" role="main" style="width:1400px;margin-left:15px;">
			<!-- Main jumbotron for a primary marketing message or call to action -->

			<div class="row" style="width:1700px;">
				<div class="col-md-1 nav-target" role="complementary">
					<!-- metrics nav -->
					<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="top:180px;width:18%;">
					<ul class="nav bs-docs-sidenav metrics-nav">
						<li><strong>Inner-link</strong></li>
						{% for metrics in qor_metrics %}
						    	<li><a href="#{{metrics|lower}}">{{metrics}}</a></li>
					    {% endfor %}
					    <li><a class="back-to-top" href="#top"><strong> Back To Top</strong></a></li>

					</ul>
					</br>
					<!-- metrics toggle -->
					<ul class="nav bs-docs-sidenav checkbox-nav">
						<li style="font-size:14px;"><strong>Check-box</strong></li>
						{% for metrics in qor_metrics %}
				    	<li><input type="checkbox" name="{{metrics}}" checked onchange="$('.{{metrics|lower}}').toggle()">&nbsp;&nbsp;{{metrics}}</input></li>
					    {% endfor %}
					</ul>
				</div> 
				<!-- col-3 -->
				<div class="col-md-9" role="main">
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    	<strong>QoR Analyzer: data loaded successfully!! (Will adapt "0" qor value to "0.00001" to avoid logarithmic exception)</strong>
				  	</div>
					<div class="alert alert-info alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<strong>New Features are ready now:</strong></br>
						2016/10/20 - heartbeat formatted log supported</br>
						2016/10/21 - number prefix before steps for better trace: FSZBUF -> (18)FSZBUF</br>
						2016/10/25 - Metrics canvas innerlink/toggle</br>
						2016/11/03 - core command prefix also ready: (18)FSZBUF -> (18P)FSZBUF [P: place_opt, C: clock_opt, RF: refine_opt] </br>
						Abbrev mode will coming soon...
					</div>
				  	<h4 style="margin-bottom:18px;">
				  	<span class="label label-primary">Mode: trend</span>
				  	</h4>

					<div class="alert alert-info" role="alert">
				    	<strong>QoR Metrics</strong>
				  	</div>
				  	{% set index = 0 %}
				  	{% for metrics in qor_metrics %}

					<div class="row">
					 
						<div class="col-md-12 {{metrics|lower}}" id="{{metrics|lower}}">
						<div class="panel" style="border-color: #39ADB4;">
						  <!-- Default panel contents -->
						  <div class="panel-heading" style="background-color: #39ADB4; color: white; font-weight: bold">{{metrics}}</div>
						  <canvas class="qor_chart" id="myChart_{{metrics}}_{{index}}" width="350" height="100"></canvas>

					  	</div>
					  	</div>
					
					</div>
					<script type="text/javascript">
				//cmd stats
					{% set color_index = 0 %}
					var ctx = $("#myChart_{{metrics}}_{{index}}").get(0).getContext("2d");
					// This will get the first returned node in the jQuery collection.
				  	var data_{{metrics}}_{{index}} = {
					    labels: ['ICP', 'ICC', 'ICR', 'ICF'],
					    datasets: [
					    {% for design in qor_metrics[metrics] %}					    
					        {
					            label: "{{design}}",
					            fill: false,
					            lineTension: 0.4,
					            backgroundColor: "#FFCE56",
					            borderColor: "#FFCE56",
					            borderCapStyle: 'butt',
					            borderDash: [],
					            borderDashOffset: 0.0,
					            borderJoinStyle: 'miter',
					            pointBorderColor: "#FFCE56",
					            pointBackgroundColor: "#FFCE56",
					            pointBorderWidth: 1,
					            pointHoverRadius: 3,
					            pointHoverBackgroundColor: "#fff",
					            pointHoverBorderColor: "#FFCE56",
					            pointHoverBorderWidth: 2,
					            pointRadius: 3,
					            pointHitRadius: 1,
					            data: {{qor_metrics[metrics][design]}},
					            spanGaps: false,
					        },
					    {% set color_index = color_index + 1 %}
					    {% endfor %} 
				   	 	]
					};

					var myLineChart_{{metrics}}_{{index}} = new Chart(ctx, {
				    	type: 'line',
				   		data: data_{{metrics}}_{{index}},
					});

					</script>
					{% set index = index + 1 %}
					{% endfor %}


				</div>
				<!-- col-9 -->
				
			</div>                   
		</div>

		<nav class="navbar navbar-inverse navbar-fixed-bottom" style="position:relative">
		    <div class="navbar-inner navbar-content-center" style="text-align:center;">
		        <p class="text-muted credit" style="margin:5px 0 0 0;color:white">Chrome/Firefox browsers with 1600x1200+ are suggested</p>
		        <p class="text-muted credit" style="margin:0px;color:white">Contact <a href="mailto:phyan@synopsys.com">Leo Yan</a> if needed</p>
		    </div>
		</nav>

	</body>
</html>
